* {
    font-family: "Poppins";
    /*border: 1px solid black;*/
}

html {
    background-color: #E4018E;
    overflow-y: hidden;
    height: 100%;

}

body {
    height: 100%;
    background-size:cover;
    background-repeat:no-repeat;
    overflow-y: hidden;
    margin: 0;
}

/* Structural Properties */
.container-fluid {
    height: 100%;
    overflow: hidden;
}

#container-row {
    height: 100%;
}

#header-form-col, #map-col {
    margin-bottom: -9999px;
    padding-bottom: -9999px;
    height: 100%;
}

/* Logo/Form Properties */

#logo {
    padding: 10px;
}

#logo-row {
    height: 12%;
}

#form-row {
    height: 88%;
}

/* Map Properties*/

#map-img {
    width: 100%;
    border: 1px solid black;
}
