<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">

    <title>Movement To Work</title>

</head>
<body>
<div class="container-fluid fill-height">
    <div class="row" id="container-row">

        <!-- Header/Form Column-->
        <div class="col-2" id="header-form-col">

            <!-- Logo -->
            <div class="row-auto" id="logo-row">
                <img src="src/images/logo.png" class="img-fluid" alt="Responsive image" id="logo">
            </div>

            <!-- Form -->
            <div class="row-auto" id="form-row">

                <p>Parameters</p>

                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                </div>

            </div>
            <!-- currently hard coded radio buttons -->

        </div>

        <!-- Map Column-->
        <div class="col-10" id="map-col">
            <img src="src/images/map_template.png" class="img-fluid" alt="Responsive image" id="map-img">
        </div>

    </div>
</div>
</body>
</html>
